<Tooltip Text="@TooltipText" Placement="TooltipPlacement.Top" ShowArrow Inline>
    <Div Flex="Flex.AlignItems.Center" Gap="Gap.Is1">
        <Icon Name="@IconName" IconSize="IconSize.Large" />
        <Span TextSize="TextSize.Small">@Value</Span>
    </Div>
</Tooltip>

@code {
    [Parameter] public string IconName { get; set; } = string.Empty;

    [Parameter] public string Value { get; set; } = string.Empty;

    [Parameter] public string TooltipText { get; set; } = string.Empty;
}
